# Dependencies
node_modules/
/.pnp
.pnp.*

# Testing
/coverage

# Next.js
/.next/
/out/
/tmp/
file-converter-app/.next/
file-converter-app/tmp/
file-converter-app/node_modules/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env files
.env*
!.env.example

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
